@model BookingAirline.Models.NhanVien

@{ 
    ViewBag.Title = "FormLogin";
}

<link rel="stylesheet" href="~/Style/Css/loginStyle.css">

<style>
    .field-validation-error{
        color:red;
    }
</style>



<div class="container">
    <div class="card">
            <div class="card-front">
                <h2>LOGIN</h2>

                @using (Html.BeginForm("Login", "LoginAdmin"))
                 {
                    @Html.AntiForgeryToken()

                    <table>
                        <tr>
                            <td>@Html.LabelFor(model => model.IDNV)</td>
                        </tr>
                        <tr>
                            <td class="box">@Html.TextBoxFor(model => model.IDNV)</td>
                            <td>@Html.ValidationMessageFor(model => model.IDNV)</td>
                        </tr>

                        <tr>
                            <td>@Html.LabelFor(model => model.Password)</td>
                            
                        </tr>
                        <tr>
                            <td class="box">@Html.EditorFor(model => model.Password)</td>
                            <td>@Html.ValidationMessageFor(model => model.Password)</td>
                            @if (ViewBag.ErrorInfo == null)
                            {
                                <p>@ViewBag.ErrorInfo</p>
                            }
                        </tr>

                        <tr>
                            <td> <a href="/Home/Index"><input type="submit" value="Login" class="submit-bnt"/></a> </td>
                        </tr>

                        <tr>
                            <td><a href="/LoginAdmin/Register"><span>Sign Up</span></a></td>
                        </tr>

                    </table>
                 }
            </div>
        </div>
    </div>
