@model IEnumerable<BookingAirline.Models.Voucher>
@using BookingAirline.Models

@{
    ViewBag.Title = "Promotion";
    Layout = "~/Views/KhachHang/Shared/_LayoutPage1.cshtml";
    BookingAirLightEntities db = new BookingAirLightEntities();
}


    <link href="~/Content/Promotion.css" rel="stylesheet" />
    <link href="~/Style/Css/Admin/trangchu.css" rel="stylesheet" />


    <div>

        <div id="slideshow">
            <div class="slide-wrapper">
                <div class="slide">

                    <img class="imgqc" src="~/hinh/KM/1605156754662.jpg" />
                </div>
                <div class="slide">

                    <img class="imgqc" src="~/hinh/KM/vietjet-khuyen-mai-ve-0-dong-moi-ngay.jpg" />
                </div>
                <div class="slide">
                    <img class="imgqc" src="~/hinh/KM/khuyen-mai-chao-thang-6-Bamboo-Airways.jpg" />
                </div>
            </div>
        </div>
    </div>
    <img style="width:80%; height:auto;" src="~/hinh/KM/bannervj3-1603119109736.gif" />
    <br />
    <hr />
    <br />

    <div>

        @{ var dsvc = db.Vouchers.ToList();
            foreach (var item in dsvc)
            {
                <div class="noidung">
                    <p style="font-size:50px;">@item.TenVC</p>
                    <br />
                    <p>Bắt đầu từ @Html.TextBoxFor(m => item.NgayApDung, "{0:dd/MM/yyyy}", new { @id = "datestart", @readonly = true }) đến  @Html.TextBoxFor(m => item.NgayHetHan, "{0:dd/MM/yyyy}", new { @id = "dayend", @readonly = true })</p>
                    <br />
                </div>
                <div class="center">


                    <div class="form">
                        <h1>Promo code</h1>
                        <form>
                            <div class="inputbox">
                                <input type="text" value="@item.MaVC" required="required" readonly>

                            </div>
                            <div >

                                <h4>Giảm giá : @item.ChietKhau % trên tổng hóa đơn</h4>
                            </div>

                            <div >
                                <a href="~/KhachHang/TrangChu">Tìm vé</a>
                            </div>
                            <br />
                        </form>
                    </div>

                </div>
                <br />
                <hr />
                <br />

            }
        }
    </div>
   
    <br />
    <h2 style="text-align:center">Business Partner</h2>
    <div class="Coop">


        <div class="logo">
            <img src="~/hinh/Cooplogo/Bamboo-Airways-logo.png" />
            <img src="~/hinh/Cooplogo/malaysia-airlines-logo.png" />
            <img src="~/hinh/Cooplogo/Singapore-Airlines-logo-01.png" />
            <img src="~/hinh/Cooplogo/thai-airway-logo.png" />
            <img src="~/hinh/Cooplogo/VJ.png" />
            <img src="~/hinh/Cooplogo/VNEl.png" />
        </div>

    </div>
    <span class="divider"><hr /></span>

    



