<!DOCTYPE html>
<html lang="en">
@using BookingAirline.Models
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>@ViewBag.Title</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="apple-touch-icon" href="~/Style/apple-touch-icon.html">
    <link rel="Shortcut Icon" href="~/hinh/logo-i.png" type="image/x-icon" />
    @*<link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />*@
    <link href="~/Style/Admin/css/styles.css" rel="stylesheet" />
    <link href="~/Style/Admin/css/styles1.css" rel="stylesheet" />
    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
    <script src="~/Style/Admin/js/jquery-confirm.js"></script>
    <link href="~/Style/Admin/css/jquery-confirm.css" rel="stylesheet" />
    <!-- ========== All CSS files linkup ========= -->
    <link href="~/Content/admin/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/admin/css/lineicons.css" rel="stylesheet" />
    <link href="~/Content/admin/css/materialdesignicons.min.css" rel="stylesheet" />
    <link href="~/Content/admin/css/fullcalendar.css" rel="stylesheet" />
    <link href="~/Content/admin/css/main.css" rel="stylesheet" />
</head>
<body class="sb-nav-fixed">
    <!--<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
         Navbar Brand
        @{
            var user = (BookingAirline.Models.NhanVien)HttpContext.Current.Session["userNV"];}
        <a class="navbar-brand ps-3" href="index.html">Hello @user.UserName </a>
         Sidebar Toggle
        <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
         Navbar Search-->
    @*<form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
            <div class="input-group">
                <input class="form-control" type="text" placeholder="Search for..." aria-label="Search for..." aria-describedby="btnNavbarSearch" />
                <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i class="fas fa-search"></i></button>
            </div>
        </form>*@
    <!--</nav>-->
    <!-- ======== sidebar-nav start =========== -->
    <aside class="sidebar-nav-wrapper">
        <div class="navbar-logo">

            <a href="~/NhanVien/TrangChu">

                <img src="~/hinh/logo.png" />
            </a>
        </div>
        <nav class="sidebar-nav">
            <ul>
                <li class="nav-item nav-item-has-children">
                    <a href="#0"
                       data-bs-toggle="collapse"
                       data-bs-target="#ddmenu_1"
                       aria-controls="ddmenu_1"
                       aria-expanded="false"
                       aria-label="Toggle navigation">
                        <span class="icon">
                            <svg width="22" height="22" viewBox="0 0 22 22">
                                <path d="M17.4167 4.58333V6.41667H13.75V4.58333H17.4167ZM8.25 4.58333V10.0833H4.58333V4.58333H8.25ZM17.4167 11.9167V17.4167H13.75V11.9167H17.4167ZM8.25 15.5833V17.4167H4.58333V15.5833H8.25ZM19.25 2.75H11.9167V8.25H19.25V2.75ZM10.0833 2.75H2.75V11.9167H10.0833V2.75ZM19.25 10.0833H11.9167V19.25H19.25V10.0833ZM10.0833 13.75H2.75V19.25H10.0833V13.75Z" />
                            </svg>
                        </span>
                        <span class="text">Dashboard</span>
                    </a>
                    <ul id="ddmenu_1" class="collapse show dropdown-nav">
                        <li>
                            <a href="~/NhanVien/TrangChu" class="active"> eCommerce </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item nav-item-has-children">
                    <a href="#0"
                       class="collapsed"
                       data-bs-toggle="collapse"
                       data-bs-target="#ddmenu_2"
                       aria-controls="ddmenu_2"
                       aria-expanded="false"
                       aria-label="Toggle navigation">
                        @*<span class="icon">
                    <svg width="22"
                         height="22"
                         viewBox="0 0 22 22"
                         fill="none"
                         xmlns="http://www.w3.org/2000/svg">
                        <path d="M12.8334 1.83325H5.50008C5.01385 1.83325 4.54754 2.02641 4.20372 2.37022C3.8599 2.71404 3.66675 3.18036 3.66675 3.66659V18.3333C3.66675 18.8195 3.8599 19.2858 4.20372 19.6296C4.54754 19.9734 5.01385 20.1666 5.50008 20.1666H16.5001C16.9863 20.1666 17.4526 19.9734 17.7964 19.6296C18.1403 19.2858 18.3334 18.8195 18.3334 18.3333V7.33325L12.8334 1.83325ZM16.5001 18.3333H5.50008V3.66659H11.9167V8.24992H16.5001V18.3333Z" />
                    </svg>
                </span>*@
                        <span class="text">Pages</span>
                    </a>
                    <ul id="ddmenu_2" class="collapse dropdown-nav">
                        <li>
                            <a href="~/NhanVien/Myinfor">My Infor</a>
                        </li>
                        <li>
                            <a href="~/NhanVien/Reports"> Reports </a>
                        </li>

                    </ul>

                </li>
                <span class="divider"><hr /></span>
                <li class="nav-item nav-item-has-children">
                    <a href="#0"
                       class="collapsed"
                       data-bs-toggle="collapse"
                       data-bs-target="#ddmenu_3"
                       aria-controls="ddmenu_3"
                       aria-expanded="false"
                       aria-label="Toggle navigation">

                        <span class="text">Flight Management</span>
                    </a>
                    <ul id="ddmenu_3" class="collapse dropdown-nav">
                        <li>
                            <a href="~/NhanVien/Scheduleaflight"> Schedule a flight</a>
                        </li>
                        <li>
                            <a href="~/NhanVien/FlightRoute"> Flight Route</a>
                        </li>

                    </ul>
                </li>
                <li class="nav-item">

                    <a href="~/NhanVien/TicketManagement">Ticket Management</a>

                </li>
                <li class="nav-item">
                    <a href="~/NhanVien/TicketList">Ticket List</a>

                </li>
                <li class="nav-item">
                    <a href="~/NhanVien/TotalRevenue">Total Revenue</a>
                </li>
                <li class="nav-item">
                    <a href="~/NhanVien/Promotion">Promotions</a>
                </li>
                <span class="divider">
                    <hr />
                </span>
                <li class="nav-item">
                    <a href="~/NhanVien/Staff">Staff</a>
                </li>
                <li class="nav-item">
                    <a href="~/NhanVien/CustomerManagement">Customer Management</a>
                </li>

                @*<span class="divider"><hr /></span>

        <li class="nav-item">
            <a href="notification.html">
                <span class="icon">
                    <svg width="22"
                         height="22"
                         viewBox="0 0 22 22"
                         fill="none"
                         xmlns="http://www.w3.org/2000/svg">
                        <path d="M9.16667 19.25H12.8333C12.8333 20.2584 12.0083 21.0834 11 21.0834C9.99167 21.0834 9.16667 20.2584 9.16667 19.25ZM19.25 17.4167V18.3334H2.75V17.4167L4.58333 15.5834V10.0834C4.58333 7.24171 6.41667 4.76671 9.16667 3.94171V3.66671C9.16667 2.65837 9.99167 1.83337 11 1.83337C12.0083 1.83337 12.8333 2.65837 12.8333 3.66671V3.94171C15.5833 4.76671 17.4167 7.24171 17.4167 10.0834V15.5834L19.25 17.4167ZM15.5833 10.0834C15.5833 7.51671 13.5667 5.50004 11 5.50004C8.43333 5.50004 6.41667 7.51671 6.41667 10.0834V16.5H15.5833V10.0834Z" />
                    </svg>
                </span>
                <span class="text">Notifications</span>
            </a>
        </li>*@
            </ul>
        </nav>

    </aside>
    <div class="overlay"></div>
    <!-- ======== sidebar-nav end =========== -->


    <main class="main-wrapper">
        <!-- ========== header start ========== -->
        <header class="header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-5 col-md-5 col-6">
                        <div class="header-left d-flex align-items-center">
                            <div class="menu-toggle-btn mr-20">
                                <button id="menu-toggle"
                                        class="main-btn primary-btn btn-hover">
                                    <i class="lni lni-chevron-left me-2"></i> Menu
                                </button>
                            </div>
                            <div class="header-search d-none d-md-flex">
                                <form action="#">
                                    <input type="text" placeholder="Search..." />
                                    <button><i class="lni lni-search-alt"></i></button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-7 col-md-7 col-6">
                        <div class="header-right">

                            <!-- profile start -->
                            <div class="profile-box ml-15">
                                <button class="dropdown-toggle bg-transparent border-0"
                                        type="button"
                                        id="profile"
                                        data-bs-toggle="dropdown"
                                        aria-expanded="false">
                                    <div class="profile-info">
                                        <div class="info">
                                            <a class="dropdown">Admin</a>
                                            <div class="image">

                                                <img src="~/hinh/ka-img.jpg" />
                                                <span class="status"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <i class="lni lni-chevron-down"></i>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-end"
                                    aria-labelledby="profile">
                                    <li>
                                        <a href="~/NhanVien/Myinfor">
                                            <i class="lni lni-user"></i> View Profile
                                        </a>
                                    </li>

                                    <li>
                                        <a href="~/NhanVien/EditMyinfor"> <i class="lni lni-cog"></i> Setting </a>
                                    </li>
                                    <li>
                                        <a href=""> <i class="lni lni-exit"></i> Sign Out </a>
                                    </li>
                                </ul>
                            </div>
                            <!-- profile end -->
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- ========== header end ========== -->

        <div class="container-fluid px-4">
            @RenderBody()
        </div>
    </main>
    <footer class="py-4 bg-light mt-auto">
        <div class="container-fluid px-4">
            <div class="d-flex align-items-center justify-content-between small">
                <div class="text-muted">Copyright &copy; Your Website 2023</div>
                <div>
                    <a href="#">Privacy Policy</a>
                    &middot;
                    <a href="#">Terms &amp; Conditions</a>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="~/Style/Admin/js/scripts.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
    <script src="~/Style/Admin/js/chart-area-demo.js"></script>
    <script src="~/Style/Admin/js/chart-bar-demo.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
    <script src="~/Style/Admin/js/datatables-simple-demo.js"></script>
    <!--========= All Javascript files linkup ======== -->

    <script src="~/Content/admin/js/fullcalendar.js"></script>
    <script src="~/Content/admin/js/main.js"></script>
    

    @RenderSection("script", false)




    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
        <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#datatablesSimple').DataTable();
            $('#datatablesSimple1').DataTable();
            $('#datatablesSimple2').DataTable();
        });
    </script>
    @RenderSection("script", false)
</body>
</html>
