@model BookingAirline.Models.KhachHang
@using BookingAirline.Models
@{
    ViewBag.Title = "EditProfile";
    Layout = "~/Views/KhachHangHA/Shared/_LayoutPage1.cshtml";
}

<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">

<!-- Bootstrap Stylesheet -->
<link href="~/Content/CSS_01/bootstrap.min.css" rel="stylesheet" />
<!-- Font Awesome Stylesheet -->
<link href="~/Content/CSS_01/font-awesome.min.css" rel="stylesheet" />
<!-- Custom Stylesheets -->
<link href="~/Content/CSS_01/style.css" rel="stylesheet" />
<link href="~/Content/CSS_01/orange.css" rel="stylesheet" />
<link href="~/Content/CSS_01/responsive.css" rel="stylesheet" />
<!--Upload ảnh-->
<link href="~/Content/UploadAnh/UploadAnh.css" rel="stylesheet" />
<!--===== INNERPAGE-WRAPPER ====-->
<section class="innerpage-wrapper">
    <div id="dashboard" class="innerpage-section-padding">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="dashboard-heading">
                        <h2>Travel <span>Profile</span></h2>
                        <p>Hi Lisa, Welcome to Star Travels!</p>
                        <p>All your trips booked with us will appear here and you'll be able to manage everything!</p>
                    </div><!-- end dashboard-heading -->

                    <div class="dashboard-wrapper">
                        <div class="row">

                            <div class="col-xs-12 col-sm-2 col-md-2 dashboard-nav">
                                <ul class="nav nav-tabs nav-stacked text-center">
                                    <li><a href="~/KhachHangHA/ThongTinKH"><span><i class="fa fa-cogs"></i></span>Dashboard</a></li>
                                    <li class="active"><a href="~/KhachHangHA/ThongtinCaNhan"><span><i class="fa fa-user"></i></span>Profile</a></li>
                                    <li><a href="~/KhachHangHA/Booking"><span><i class="fa fa-briefcase"></i></span>Booking</a></li>
                                    <li><a href="~/KhachHangHA/WishList"><span><i class="fa fa-heart"></i></span>Wishlist</a></li>
                                    <li><a href="~/KhachHangHA/MyCard"><span><i class="fa fa-credit-card"></i></span>My Cards</a></li>
                                    
                                </ul>
                            </div><!-- end columns -->

                            <div class="col-xs-12 col-sm-10 col-md-10 dashboard-content user-profile">
                                <h2 class="dash-content-title">My Profile</h2>
                                <div class="panel panel-default">
                                    <div class="panel-heading"><h4>Profile Details</h4></div>
                                    <div class="panel-body">
                                        <form enctype="multipart/form-data" method="post" action="~/KhachHangHA/EditProfile">
                                            @Html.AntiForgeryToken()
                                            <div class="row">
                                                <div class="col-sm-5 col-md-4 user-img">
                                                    <label class="control-label">Avartar</label>
                                                    <div id="myfileupload">
                                                        <input type="file" id="uploadfile" name="HinhAnh"  onchange="readURL(this);" />
                                                    </div>
                                                    <div id="thumbbox">
                                                        <img  width="100%" src="@Model.HinhAnh" alt="Thumb image" class="avatar" id="thumbimage" @*style="display: none"*@ />
                                                        <a class="removeimg" href="javascript:"></a>
                                                    </div>
                                                    <div id="boxchoice">
                                                        <a href="javascript:" class="Choicefile" style="text-decoration:none">
                                                            <i class="fas fa-cloud-upload-alt"></i> choice Avartar
                                                        </a>
                                                        <p style="clear:both"></p>
                                                    </div>
                                                </div>
                                                <!-- end columns -->

                                                <div class="col-sm-7 col-md-8  user-detail">
                                                    <ul class="list-unstyled">
                                                        @Html.HiddenFor(model => model.IDKH)
                                                        @Html.HiddenFor(model => model.LoaiKH)
                                                        @Html.HiddenFor(model => model.UserName)
                                                        @Html.HiddenFor(model => model.Password)
                                                        <li><span>Name:</span> <input type="text" class="form-control" name="TenKH" placeholder="TenKH" value="@Model.TenKH" required /> </li>
                                                        <li><span>Date of Birth:</span> <input type="date" class="form-control" name="NgaySinh" placeholder="NgaySinh" value="@Model.NgaySinh" required /></li>
                                                        <li><span>Email:</span> <input type="email" class="form-control" name="Email" placeholder="Email" value="@Model.Email" required /></li>
                                                        <li><span>Phone:</span> <input type="number" class="form-control" name="SDT" placeholder="SDT" value="@Model.SDT" required /></li>
                                                        <li><span>Address:</span></li>
                                                        <li><span>Country:</span> United States of America</li>
                                                    </ul>
                                                    <input type="submit" class="btn" data-target="#edit-profile" value="Save Profile" />
                                                </div><!-- end columns -->
                                            </div>
                                        </form>

                                        <div class="col-sm-12 user-desc">
                                            <h4>About You</h4>
                                            <p>Vestibulum tristique, justo eu sollicitudin sagittis, metus dolor eleifend urna, quis scelerisque purus quam nec ligula. Suspendisse iaculis odio odio, ac vehicula nisi faucibus eu. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse posuere semper sem ac aliquet. Duis vel bibendum tellus, eu hendrerit sapien. Proin fringilla, enim vel lobortis viverra, augue orci fringilla diam, sed cursus elit mi vel lacus. Nulla facilisi. Fusce sagittis, magna non vehicula gravida, ante arcu pulvinar arcu, aliquet luctus arcu purus sit amet sem. Mauris blandit odio sed nisi porttitor egestas. Mauris in quam interdum purus vehicula rutrum quis in sem. Integer interdum lectus at nulla dictum luctus. Sed risus felis, posuere id condimentum non, egestas pulvinar enim. Praesent pretium risus eget nisi ullamcorper fermentum. Duis lacinia nisi ac rhoncus vestibulum.</p>

                                        </div><!-- end columns -->
                                    </div><!-- end row -->

                                </div><!-- end panel-body -->
                            </div><!-- end panel-detault -->
                        </div><!-- end columns -->

                    </div><!-- end row -->
                </div><!-- end dashboard-wrapper -->
            </div><!-- end columns -->
        </div><!-- end row -->
    </div><!-- end container -->
    </div><!-- end dashboard -->
</section><!-- end innerpage-wrapper -->
<!-- partial -->
