@model BookingAirline.Models.Cart
@using BookingAirline.Models
@{var cal = 0;
    BookingAirLightEntities db = new BookingAirLightEntities();}

@{ ViewBag.Title = "ThanhToan"; }

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Payment</title>
    <link rel="apple-touch-icon" href="~/Style/apple-touch-icon.html">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

    <link href="~/Style/Css/Payment.css" rel="stylesheet" />
</head>

<body>

    <main class="page payment-page">
        <section class="payment-form dark">
            <div class="container">
                <div class="block-heading">
                    <h2>Payment</h2>
                    <p>
                        Please pay within 5 minutes.
                    </p>
                </div>
                <form method="post" action="~/KhachHangHA/ThanhToan01">
                    <div class="products">
                        <h3 class="title">Checkout</h3>
                        @foreach (var item in Model.Items)
                        {
            <div class="item">
                @{ var ThanhTien = string.Format("{0:0,0 vnđ}", item.idVe.GiaVe);}
                <span class="price">@ThanhTien</span>
                <p class="item-name">@item.idVe.MaVe</p>
                <p class="item-description">Số hiệu : @item.idVe.MaCB</p>
                @{ var macb = db.ChuyenBays.Where(s => s.MaCB == item.idVe.MaCB).FirstOrDefault();
                    var tenmb = db.MayBays.Where(s => s.MaMB == macb.MaMB).FirstOrDefault();
                    var matbay = db.TuyenBays.Where(s => s.MaTBay == macb.MaTBay).FirstOrDefault(); }
                <p class="item-description">FROM: @matbay.SanBayDi - TO: @matbay.SanBayDen</p>
                <p class="item-description">AIRCRAFT: @tenmb.LoaiMayBay</p>
                <p class="item-description">Status: Paying</p>
                <p class="item-description">Name: @item.idVe.IDKH</p>
                @{ cal += Convert.ToInt32(item.idVe.GiaVe); }
            </div>}
                        @{ var total = string.Format("{0:0,0 vnđ}", cal);}
                        <div class="total">Total<span class="price">@total</span></div>
                    </div>
                    <div class="card-details">
                        <h3 class="title">Credit Card Details</h3>
                        <div class="row">
                            <div class="form-group col-sm-7">
                                <label for="card-holder">Card Holder</label>
                                <input id="card-holder" type="text" class="form-control" placeholder="Card Holder" aria-label="Card Holder" aria-describedby="basic-addon1">
                            </div>
                            <div class="form-group col-sm-5">
                                <label for="">Expiration Date</label>
                                <div class="input-group expiration-date">
                                    <input type="text" class="form-control" placeholder="MM" aria-label="MM" aria-describedby="basic-addon1">
                                    <span class="date-separator">/</span>
                                    <input type="text" class="form-control" placeholder="YY" aria-label="YY" aria-describedby="basic-addon1">
                                </div>
                            </div>
                            <div class="form-group col-sm-8">
                                <label for="card-number">Card Number</label>
                                <input id="card-number" type="text" class="form-control" placeholder="Card Number" aria-label="Card Holder" aria-describedby="basic-addon1">
                            </div>
                            <div class="form-group col-sm-4">
                                <label for="cvc">CVC</label>
                                <input id="cvc" type="text" class="form-control" placeholder="CVC" aria-label="Card Holder" aria-describedby="basic-addon1">
                            </div>
                            <div class="form-group col-sm-12">
                                <input type="submit" class="btn btn-primary btn-block" value="Process">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </section>
    </main>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>