@model BookingAirline.Models.NhanVien

@{
    ViewBag.Title = "DetailStaff";
    Layout = "~/Views/NhanVien/Shared/_LayoutPage1.cshtml";
}
<style>
    .form-control, .dataTable-input {
        display: block;
        width: 100%;
        padding: 0.875rem 1.125rem;
        font-size: 15px;
        font-weight: 400;
        line-height: 1;
        color: #69707a;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #c5ccd6;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border-radius: 0.35rem;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }
    body {
        margin-top: 20px;
        color: #69707a;

    }
    .container-xl {
        width: 1200px;
        height: auto;
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-30%, -50%);
    }
</style>
<h2>DetailStaff</h2>
<div class="container-xl px-4 mt-4">
    <div class="row">
        <div class="col-xl-8">
            <div class="card mb-4">
                <div class="card-header">Thông tin</div>
                <div class="card-body">

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-horizontal">

                            <hr />
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.HiddenFor(model => model.IDNV)
                            @Html.HiddenFor(model => model.MaCV)


                            <div class="row gx-3 mb-3">
                                <div class="col-md-6">
                                    <span>Username:</span>
                                    @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                                </div>
                       
                                <div class="col-md-6">
                                    <span>Password:</span>
                                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @type = "password" } })
                                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="row gx-3 mb-3">
                                <div class="col-md-6">
                                    <span>IDNV:</span>
                                    @Html.EditorFor(model => model.TenNV, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.TenNV, "", new { @class = "text-danger" })
                                </div>
                           
                                <div class="col-md-6">
                                    <span>Sex:</span>
                                    @Html.EditorFor(model => model.GioiTinh, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.GioiTinh, "", new { @class = "text-danger" })
                                </div>
                            
                                <div class="col-md-6">
                                    <span>Day of  Birth:</span>
                                    @Html.EditorFor(model => model.NgaySinh, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.NgaySinh, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="row gx-3 mb-3">
                                <div class="col-md-6">
                                    <span>Phone:</span>
                                    @Html.EditorFor(model => model.SDT_NV, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.SDT_NV, "", new { @class = "text-danger" })
                                </div>
                           
                                <div class="col-md-6">
                                    <span>Email:</span>
                                    @Html.EditorFor(model => model.Email_NV, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Email_NV, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            

                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Save" class="btn btn-primary" />
                                </div>
                            </div>
                        </div>
                    }


                </div>
            </div>
        </div>
        <div>
            @Html.ActionLink("Back to List", "Staff")
        </div>
    </div>
</div>