@model NhanVien
@using BookingAirline.Models;

@{
    ViewBag.Title = "Myinfor";
    Layout = "~/Views/NhanVien/Shared/_LayoutPage1.cshtml";

}
@{
    var checkmess = (string)TempData["messageAlert"];
    var manv = (string)TempData["manhanvien"];
    if (checkmess == "SuaNV")
    {
        <script>
            swal({
                title: "Đã sửa thông tin nhân viên thành công",
                text: "Thông tin hân viên đã được sửa đổi",
                icon: "success",
                button: "OK",
            });
        </script>
    }
}
<link href="~/Content/myInfor.css" rel="stylesheet" />
<div class="container-xl px-4 mt-4">
    <div class="row">
        <div class="col-xl-4">
            <!-- Profile picture card-->
            <div class="card mb-4 mb-xl-0">
                <div class="card-header">Ảnh đại diện</div>
                <div class="card-body text-center">
                    <!-- Profile picture image-->
                    <img id="myImg" class="img-account-profile rounded-circle mb-2" src="~/hinh/ka-img.jpg" alt="your image">

                </div>
            </div>
        </div>
        <div class="col-xl-8">
            <!-- Account details card-->
            <div class="card mb-4">
                <div class="card-header">Thông tin</div>
                <div class="card-body">
                    <form>

                        <div class="row gx-3 mb-3">
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputUsername">UserName: </label>
                                <input class="form-control" id="inputUsername" type="text" value="@Model.UserName" readonly>
                            </div>
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputPass">Password:</label>
                                <input class="form-control" id="inputPass" type="text" value="@Model.Password" readonly>
                            </div>


                        </div>
                        <!-- Form Row        -->
                        <div class="row gx-3 mb-3">
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputName">FullName:</label>
                                <input class="form-control" id="inputName" type="text" value="@Model.TenNV" readonly>
                            </div>

                            <div class="col-md-6">
                                <label class="small mb-1" for="inputDateOfBirth">Date of birth:</label>
                                @Html.TextBoxFor(m => Model.NgaySinh, "{0:dd/MM/yyyy}", new {@id= "inputDateOfBirth" , @class= "form-control" , @readonly = true })
                            </div>


                        </div>
                        <!-- Form Group (email address)-->


                        <div class="row gx-3 mb-3">
                           
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputEmail">Email:</label>
                                <input class="form-control" id="inputEmail" type="email" value="@Model.Email_NV" readonly>
                            </div>
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputPhone">Phone number</label>
                                <input class="form-control" id="inputPhone" type="text" value="@Model.SDT_NV" readonly>
                            </div>
                        </div>
                        <button class="btn btn-outline-primary" type="button"> @Html.ActionLink("View Details", "EditMyInfor", new { id = Model.IDNV })</button>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    /* The uploader form */
    $(function () {
        $(":file").change(function () {
            if (this.files && this.files[0]) {
                var reader = new FileReader();

                reader.onload = imageIsLoaded;
                reader.readAsDataURL(this.files[0]);
            }
        });
    });

    function imageIsLoaded(e) {
        $('#myImg').attr('src', e.target.result);
        $('#yourImage').attr('src', e.target.result);
    };

</script>

