@model BookingAirline.Models.NhanVien
@using BookingAirline.Models;

@{
    ViewBag.Title = "Myinfor";
    Layout = "~/Views/NhanVien/Shared/_LayoutPage1.cshtml";
   
}




<!-- ========== section start ========== -->
<section class="section">
    <div class="container-fluid">
        <!-- ========== title-wrapper start ========== -->
        <div class="title-wrapper pt-30">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <div class="titlemb-30">
                        <h2>My Information</h2>
                    </div>
                </div>
                <!-- end col -->
                <div class="col-md-6">
                    <div class="breadcrumb-wrapper mb-30">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="#0">Dashboard</a>
                                </li>
                                <li class="breadcrumb-item"><a href="#0">Pages</a></li>
                                <li class="breadcrumb-item active" aria-current="page">
                                    My Information
                                </li>
                            </ol>
                        </nav>
                    </div>
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!-- ========== title-wrapper end ========== -->

        <div class="row">
            <div class="col-lg-6">
                <div class="card-style settings-card-1 mb-30">
                    <div class="
                    title
                    mb-30
                    d-flex
                    justify-content-between
                    align-items-center
                  ">
                        <h6>My Profile</h6>
                        
                    </div>
                    <div class="profile-info">
                        <div class="d-flex align-items-center mb-30">
                            <div class="profile-image">

                                <img src="~/hinh/ka-img.jpg" />
                                <div class="update-image">
                                    <input type="file" />
                                    <label for="">
                                        <i class="lni lni-cloud-upload"></i>
                                    </label>
                                </div>
                            </div>

                        </div>




                                <form action="#">

                                    <table>
                                        @*//Phần render*@
                                        <tr>
                                            <th>
                                                <div class="profile-meta">
                                                    <h3 class="text-bold text-dark mb-10">

                                                        @Model.UserName
                                                    </h3>
                                                </div>
                                            </th>
                                        </tr>
                                        <tr>
                                            <th>
                                                <div class="col-12">
                                                    <div class="input-style-1">
                                                        <label>Full Name:</label>
                                                        <input type="text" value="@Model.TenNV">
                                                    </div>
                                                </div>
                                            </th>
                                        </tr>
                                        <tr>
                                            <th>
                                                <div class="col-12">
                                                    <div class="input-style-1">
                                                        <label>Day of birth:</label>
                                                        <input type="email"
                                                               value="@Model.NgaySinh" />
                                                    </div>
                                                </div>
                                            </th>
                                        </tr>
                                        <tr>
                                            <th>
                                                <div class="col-12">
                                                    <div class="input-style-1">
                                                        <label>Email:</label>
                                                        <input type="email"
                                                               value="@Model.Email_NV" />
                                                    </div>
                                                </div>
                                            </th>
                                        </tr>
                                        <tr>
                                            <th>
                                                <div class="col-12">
                                                    <div class="input-style-1">
                                                        <label>Phone:</label>
                                                        <input type="text" value="@Model.SDT_NV" />
                                                    </div>
                                                </div>
                                            </th>
                                        </tr>

                                        <tr>
                                            <th>
                                                <div class="col-12">
                                                    <div class="input-style-1">
                                                        <label>Password</label>
                                                        <input type="password" value="@Model.Password" />
                                                    </div>
                                                </div>
                                            </th>

                                        </tr>
                                        <tr>
                                            @Html.ActionLink("Edit", "EditMyinfor", new { id = @Model.IDNV }) 
                                            </tr>

                                    </table>
                                </form>
                           

                        <!-- end col -->
                    </div>
                    <!-- end row -->
                </div>
                <!-- end container -->
            </div>
        </div>
    </div>
</section>
<!-- ========== section end ========== -->
